.Father{
    background: #252525;
    height: 640px;
    width: 1335px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.YourName1{
    border-radius: 200px;
    height: 65px;
    width: 200px;
    color: #ff6e1d;
    border: 5px solid #ff6e1d;
    box-sizing: border-box;
    margin: 10px;
}
.YourName2{
    border-radius: 200px;
    height: 65px;
    width: 200px;
    color: #2cfff2;
    border: 5px solid #2cfff2;
    box-sizing: border-box;
    margin: 10px;
}
.YourName3{
    border-radius: 200px;
    height: 65px;
    width: 200px;
    color: #ff54a6;
    border: 5px solid #ff54a6;
    box-sizing: border-box;
    margin: 10px;
}
.YourName4{
    border-radius: 200px;
    height: 65px;
    width: 200px;
    color: #ff3e3e;
    border: 5px solid #ff3e3e;
    box-sizing: border-box;
    margin: 10px;
}


