body{
    margin: 0;
}
.wrap{
    background: #06BCD4;
    box-sizing: border-box;
    height: 610px;
}
.all-wrap-container{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.content-container{
    flex-direction: column;
    box-sizing: border-box;
    margin-top: 50px;
}
.block{
    width: 500px;
    height: 150px;
    background: white;
    border-radius: 3px;
    margin: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

}
.content{
    flex-direction: column;
    box-sizing: border-box;
    margin: 5px;
}
i{
    font-size: 40px;
    color: #9e9e9e;
    padding-left: 30px;
}
p{
    text-align: justify;
    padding-left: 30px;
    padding-right: 20px;
}
h2{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #E88E17;
}